<div class="container espacio-top">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item text-center">
                    <i class="fas fa-bars"></i> Menu de opciones
                </li>
                <li class="list-group-item">
                    <a href="#" (click) = "activarModulo('crear')">
                        <i class="fab fa-cc-visa"></i> Crear cuenta de ahorros
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" (click) = "activarModulo('consignar')">
                        <i class="fas fa-piggy-bank"></i> Consignar
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" (click) = "activarModulo('retirar')">
                        <i class="fas fa-money-check-alt"></i> Retirar Dinero
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" (click) = "activarModulo('consultar')">
                        <i class="fas fa-money-check-alt"></i> Consultar saldo
                    </a>
                </li>
            </ul>
            
        </div>
    
        <div class="col-md-6">
            <!-- *********************************************************************************************** -->
            <div class="container">
                <h1>
                    <i class="fas fa-university fa-2x"></i> BANCO BlUEBANK
                </h1>
                
                <hr>
                <app-formulario-cuenta *ngIf="crearCuenta"></app-formulario-cuenta>

                <app-formulario-consignar *ngIf="consignar" ></app-formulario-consignar>
            </div>
            <!-- *********************************************************************************************** -->
        </div>
    </div>
</div>


