<h3>Consultar saldo</h3>

<div class="alert alert-{{tipoMensaje}}" role="alert" *ngIf="notificacion">
    {{mensaje}}
</div>

<form [formGroup]="formulario" (ngSubmit)="submit()">

    <div class="row">

        <div class="col-md-12">
            <label for="">Numero de cuenta</label>
            <input type="number" class="form-control" formControlName="numero_cuenta" placeholder = "EJemplo 455454">
        </div>
    </div>

    <br>
    <button class="btn btn-primary" [disabled]="disabled">Consultar</button>
</form>

<h3 *ngIf="verSaldo">El saldo actual de la cuenta {{numeroCuenta}} es de $.{{saldoActual}}</h3>
